---

import Layout from "../components/Layout.astro"
import FormLogin from "../components/FormLogin"

---

<Layout title="Inicio" path="./" logo_size="large" >

	<header class="py-5">
        <figure>
			<img src="/images/logotipo.svg" alt="Astro" class="md:w-2/5 w-2/4 mx-auto py-5 text-center" />
		</figure>
    </header>

	<div class="flex items-center justify-center">
		<div class="md:max-w-screen-sm w-full h-full px-10">
			<FormLogin client:load />
		</div>	
	</section>
</Layout>