---
import "@fontsource-variable/public-sans";
import ViewTransitions from "astro/components/ViewTransitions.astro";
interface Props{
    title: string;
    path?: string;
    logo_size?: string;
}
const {title, path} = Astro.props;

import Footer from './Footer.astro';

---

<!doctype html>
<html lang="es" class="bg-gradient-to-b from-gray-300 to-white text-gray-900 h-auto min-h-full">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href={`${path}images/isotipo.svg`}/>
    <meta name="author" content="Israel Wong">

    <link rel="manifest" href="/manifest.json">
    <script is:inline src="/installPrompt.js" defer></script>

    <title>Colegio Ateneo | {title}</title>

    <script
        is:inline
        data-astro-rerun
        src="https://kit.fontawesome.com/74d1405387.js"
        crossorigin="anonymous">
    </script>

    <script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
        navigator.serviceWorker.register('/sw.js').then(function(registration) {
            console.log('Service Worker registrado con éxito:', registration.scope);
        }, function(err) {
            console.log('Error al registrar el Service Worker:', err);
        });
        });
    }
    </script>  

    <ViewTransitions />
    
</head>
<body>

    <button id="installButton" style="display: none;"
    class="mx-auto fixed bottom-5 left-5 right-5 bg-blue-500 text-white p-2 rounded-md"
    >Instalar App</button>

    <main class="mx-auto">
        <slot />
    </main>
    <Footer path={path} />
</body>
</html>